[Interface]
# Name = wireguard public-server ${name}
Address = ${address}
ListenPort = ${listen_port}

#TODO: get rid of hardcode for interface name
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o ens5 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o ens5 -j MASQUERADE

%{ for cidr in routes ~}
PostUp = iptables -t nat -A POSTROUTING -s ${cidr} -o eth1 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s ${cidr} -o eth1 -j MASQUERADE
%{ endfor ~}

PrivateKey = ${private_key}
DNS = ${dns_server}

%{ for peer, config in peers ~}
[Peer]
# Name = ${peer}
PublicKey = ${config.public_key}
AllowedIPs = ${config.allowed_ips}
%{ endfor ~}
